{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'login.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <div class="text-center">
        <video autoplay="true" id="video-element"></video>
    </div>
    
    <div class="text-center" id="img-element"></div>
    
    <div class="text-center mt-3">
        <button class="btn btn-primary" id="capture-btn">Take photo</button>
        <button class="btn btn-info" id="reload-btn">Reload</button>
    </div>
{% endblock content %}